body {
	height: 100vh;
}

.clear-button-style input[type="submit"] {
	background: none;
	border: none;
}

.warns {
	list-style-type: none;
	padding-inline-start: 0;
}

input[type="date"]::-webkit-calendar-picker-indicator  {
	display: none
}